* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Whole-Product {
  border: 4px solid black;
  position: relative;
  margin-top: 80px;
}

.Whole-Product::after {
  content: "Sale";
  position: absolute;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-family: Verdana;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 15px;
  top: -15px;
  left: -30px;
}

.Color-Picker {
  background-color: black;
  height: 22px;
  width: 22px;
  margin-left: 10px;
  display: inline-block;
  border: black solid 1px;
}

.Product-Title {
  text-align: center;
  background-color: #e9e9e9;
  text-transform: uppercase;
  padding: 20px 20px;
}

h2 {
  font-size: 20px;
}

#Shipping {
  font-family: sans-serif;
  font-size: small;
  color: #575757;
  text-transform: uppercase;
  margin-top: 8px;
}

#Price {
  font-size: 25px;
  font-weight: bold;
}

.Details {
  margin-bottom: 20px;
  text-transform: uppercase;
}

button:enabled {
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  height: 80px;
}

button:active,
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

a:link,
a:visited {
  color: black;
  display: inline-block;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

li {
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 25px;
}

article {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto;
}

p {
  margin-bottom: 10px;
}

/*.Product-Body {
  display: flex;
  gap: 40px;
  align-items: center;
}

.Purchase-Details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.First-Section {
  flex: 1;
}

.Second-Section {
  flex: 1;
}*/

.Whole-Product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.Product-Title {
  grid-column: 1 / -1;
}

button {
  grid-column: 1/-1;
}
